{% extends 'base.html' %}
{% block title %}About Us {% endblock %}
{% block header %}{% include 'header.html' %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
{% block side %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Blank</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				{{setting.aboutus | safe}}
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}