{% extends 'base.html' %}
{% block header %}{% include 'header.html' %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
{% block side %}
	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Blank</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
					<div class="col-md-4">
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Contact Us</h3>
								{% if messages %}
									{% for message in messages %}
										<div class="alert alert-{{message.tags}}" role="alert">
											{{message}}
										</div>
									{% endfor %}
								{% endif %}
							</div>
							<form id="checkout-form" class="clearfix" method="post">
								{% csrf_token %}
								{{form}}
								<button type="submit" class="btn btn-primary btn-sm" style="margin-top:10px;">Submit</button>
							</form>
						</div>
					</div>
					<div class="col-md-8">
						<div class="shipping-methods">
							<div class="section-title">
								<h4 class="title">Contact Info</h4>
							</div>
							<div>
								{{setting.contact | safe}}
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}