
<div class="billing-details">
    <div class="section-title">
        <h3 class="title">User Panel</h3>
    </div>
    <div class="aside">
        <ul class="list-links">
            <li><a href="/user">User Profile</a></li>
            <li><a href="/user/orders">User Orders</a></li>
            <li><a href="/user/comments">User Comments</a></li>
            <li><a href="/user/favorits">User Favorits</a></li>
            <li><a href="/user/products">User Products</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>
