{% extends 'base.html' %}
{% block title %}Order Products{% endblock %}
{% block header %}{% include 'header.html' %}{% endblock %}
{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
{% block side %}

	<style>
		table,th,td{
			border:10px solid white;
		}
	</style>

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Order Products</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

		<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<div class="col-md-3">
					{% include 'user_panel.html' %}
				</div>
				<div class="col-md-9">
						<div class="order-summary clearfix">
							<div class="section-title">
								<h3 class="title">Your Ordered Product List</h3>
							</div>

							<div class="section-title">
								<h4 class="shopping-cart-table table"></h4>
							</div>

							<table class="shopping-cart-table table">
								<tr>
									<th class="text-left">ID</th>
									<th class="text-left">Product Name</th>
									<th class="text-left">Price</th>
									<th class="text-center">Quantity</th>
									<th class="text-left">Amount</th>
									<th class="text-left">Status</th>
									<th class="text-left">Date</th>
								</tr>
								{% for rs in orderedproducts %}
									<tr>
										<td class="text-left">
											<a href="/product/{{rs.product_id}}/{{rs.product.slug}}">
												<img src="{{rs.product.image.url}}" height="80">
											</a>
										</td>
										<td class="text-left">{{rs.product.title}}</td>
										<td class="text-left">{{rs.price}}</td>
										<td class="text-left">{{rs.quantity}}</td>
										<td class="text-left">{{rs.amount}}</td>
										<td class="text-left">{{rs.status}}</td>
										<td class="text-left">{{rs.created_at}}</td>
										<td class="text-left"><a class="primary-btn" href="/user/ordered_product_detail/{{rs.id}}/{{rs.order.id}}">Detail</a></td>
									</tr>
								{% endfor %}
							</table>
						</div>
					</div>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->
{% endblock %}
{% block footer %}{% include 'footer.html' %}{% endblock %}